html,body{
margin: 0;
width: 100%;
height: 100%
}
.header {
    width: 100%;
    height: 20vh;
    margin: auto;
    background-color: grey;
}
.main {
   width: 75%;
   height: 69vh;
   margin: auto;
   background-color: rgb(245, 236, 220);

    
}
.footer {
    width: 75%;
    height: 11vh;
    margin: auto;   
    background-color: rgb(39, 46, 46);
}